ion-toolbar {
    --background: rgb(0, 22, 75);
    --color: white;
}
ion-content {
    --background: white;
    --color: rgb(0, 22, 75); 
}
ion-row span {
    font-style: italic;
    font-size: large;
    
}
nav span {
    padding-right: 15px;
}
ion-toolbar ion-row {
    display: flex;
    justify-content: space-between;
}
 mat-tab-group {
    font-style: italic;
    --color: rgb(0, 22, 75);
}

.example-tab-icon {
    margin-right: 2px;
    padding: 0;
}
 
#title {
    margin-right: 10px;
    padding: 5px;
    color: rgb(255, 183, 28);
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.align {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 30px;
}
//**********registro**********
ion-label.fuente {
    font-style: italic;
    font-size: large;
    --color: rgb(0, 22, 75)
}
ion-item {
    --background: white;
    --border-color: rgb(0, 22, 75)
}

div button {
    //**centrado**
    display: flex;
    margin: 0 auto;
    
}
ion-select {
    width: 210px;
    margin-top: 30px;
    --color: rgb(0, 22, 75)
}
#button1 {
    color: white;
    background-color: rgb(0, 22, 75);
    border-color: rgb(196, 134, 2);
    border-style: ridge;
    font-style: italic;
    // font-weight: bolder;
}
#button2 {
    color: rgb(0, 22, 75);
    background-color: rgb(255, 183, 28);
    border-color: rgb(0, 22, 75);
    border-style: ridge;
    font-style: italic;
    width: 130px;
}
mat-divider {
    border-top-color: rgb(255, 183, 28);
    margin-top: 25px;
}
//**********registro**********
//**********historial de viajes**********
table {
    width: 100%;
  }
//**********historial de viajes**********
//*****animation*****
.animate__animated.animate__lightSpeedInRight {
    --animate-duration: 2s;
}
.animate__animated.animate__heartBeat {
    --animate-duration: 2s;
    animation-iteration-count: infinite;
}
//*****animation*****
nav ion-row  {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: end;
}
nav ion-row span {
    margin: 0;
    font-size: medium;
    text-decoration: underline;
}
#button-menu {
    background-color: white;
    color: rgb(0, 22, 75);
    height: 30px;
    border-style: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

