<ion-header>
  <ion-toolbar>
    <ion-row class="animate__animated animate__lightSpeedInRight">
      <ion-col size="8">
        <span>Conductor: </span>
        <span>interpolacion</span>
      </ion-col> 
      <span class="animate__animated animate__heartBeat" id="title">
        Tellevoapp
      </span>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content >

  <mat-tab-group animationDuration="2000ms"  >
    <mat-tab >
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">home</mat-icon>
        Inicio
      </ng-template>
      <!-- maps -->
      <div id="map"></div>
      <!-- maps -->
      <ng-container *ngIf="pasajeros.length > 0 else noregister">

        <ion-row class="modify-data">
          <p id="tarifa">Tarifa actual: interpolacion</p>
          
          <button mat-raised-button id="button-modify" (click)="modifyData()">
            <mat-icon>cached </mat-icon> 
            Modificar Datos
            </button>
    
        </ion-row>
        
        <ion-item  id="input-driver">
          <ion-label class="label-input">Modificar tarifa:</ion-label>
          <ion-input placeholder="Valor tarifa" [clearInput]="true" type="text" minlenght="3" maxlength="4"></ion-input>
          <button mat-icon-button id="color-button" (click)="modifyRate()">
            <mat-icon>cached</mat-icon>
          </button>
        </ion-item>
        
        <div class="mat-elevation-z8" >
          <table mat-table [dataSource]="dataPassengers" id="table">
        
            <ng-container matColumnDef="pasajero" >
              <th mat-header-cell *matHeaderCellDef class="font-th" > Pasajero </th>
              <td mat-cell *matCellDef="let element" class="font-td"> {{element.nombre}} </td>
            </ng-container>
        
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef class="font-th"> Dirección </th>
              <td mat-cell *matCellDef="let element" class="font-td"> {{element.direccion}} </td>
            </ng-container>
        
            <ng-container matColumnDef="tarifa">
              <th mat-header-cell *matHeaderCellDef class="font"> Tarifa </th>
              <td mat-cell *matCellDef="let element" class="font"> {{element.tarifa}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedPassengers"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedPassengers;"></tr>
          </table>
        
        </div>
        
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
        
          <button mat-raised-button class="" id="button-init">
            <mat-icon> local_taxi</mat-icon>
            Iniciar
          </button>
        
          <button mat-raised-button id="button-cancel" (click)="cancelTravel()">
            <mat-icon> close</mat-icon>
            Cancelar
          </button>
        
          <button mat-raised-button id="button-exit" (click)="alertExit() ">
            <mat-icon>reply</mat-icon>
            Salir
          </button>
        </ion-footer>

      </ng-container>
      <!-- Si no existen pasajeros en la bd se mostrará el siguiente template -->
      <ng-template #nopassengers>
        <div id="nopassengers">
          <span class="material-icons md-48 animate__animated animate__zoomOutRight" id="error-icon">
            directions_walk
          </span>
          <span id="position">No se registran pasajeros disponibles</span>
        </div>
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
      
          <button mat-raised-button id="button-exit-error"  [routerLink]="['/home']">
            <span class="material-icons md-30 ">reply</span>
            <!-- <mat-icon></mat-icon> -->
            Salir
          </button>

        </ion-footer>
      </ng-template>
      <!-- si el conductor no está registrado en la bd -->
      <ng-template #noregister>

        <div id="nopassengers">
          <span class="material-icons md-48 animate__animated animate__bounceInDown" id="error-icon">
            car_crash
          </span>
          <span id="position">Registra tu vehículo</span>
        </div>
        <ion-footer id="footer-register" class="animate__animated animate__fadeInUp">
          
          <button mat-raised-button id="driver" (click)="alertRegister()">
            <span class="material-icons md-45" >local_taxi</span>
            Registrar 
          </button>
          <button mat-raised-button id="passenger" [routerLink]="['/home']">
            <span class="material-icons md-36" >reply</span>
            Salir 
          </button>

        </ion-footer>

      </ng-template>
      <!-- cuando el viaje esté en curso -->
      <ng-template #travel>

        <ion-nav >
          <span class="animate__animated animate__lightSpeedOutRight">
            Tu viaje está en curso
          </span>
        </ion-nav>

        <div id="content-card">
        
          <mat-card class="card-passenger">
            
            <mat-card-header >
              <mat-card-title id="title-card">Pasajero</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              direccion interpolacion
            </mat-card-content>
            
          </mat-card>          
          
        </div>
        
        <ion-row class="content-report">
          <button mat-raised-button id="button-travel" (click)="alertReport()">
            <mat-icon>warning</mat-icon>
            Ingresar reporte
          </button>
        </ion-row>

        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
      
          <button mat-raised-button id="button-finish" (click)="finishAlert()">
            <span class="material-icons md-36 " >
              done
            </span>
            Finalizar
            
          </button>

        </ion-footer>

      </ng-template>

    </mat-tab>
    <!-- **********historial de viajes********** -->
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">cloud_queue</mat-icon>
        Historial
      </ng-template>
      <ng-container *ngIf="conductores.length > 0 else notravels">
        
        <div class="mat-elevation-z8"  class="ion-padding">
          <table mat-table [dataSource]="dataSource" >
          
            <!-- Position Column -->
            <ng-container matColumnDef="pasajero">
              <th mat-header-cell *matHeaderCellDef> Pasajero </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element" > {{element.direccion}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="tarifa">
              <th mat-header-cell *matHeaderCellDef> Tarifa </th>
              <td mat-cell *matCellDef="let element" > {{element.tarifa}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5]"
                         showFirstLastButtons>
          </mat-paginator>
        </div>

        <div class="total">
          <span class="animate__animated animate__bounceOut">Viajes realizados: {{totalRow()}}</span>
        </div>
        
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
          <button mat-raised-button shape="round"  id="button-exit-error" class="center" [routerLink]="['/home']">
            Salir
            <mat-icon > reply </mat-icon>
          </button>
        </ion-footer>

      </ng-container>
      
      <ng-template #notravels >
        <div id="nopassengers">
          <span class="material-icons md-48 animate__animated animate__shakeX" id="error-icon-historial">
            cloud_queue
          </span>
          <span id="position">No tienes viajes realizados</span>
        </div>
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
      
          <button mat-raised-button id="button-exit-error"  [routerLink]="['/home']">
            <mat-icon>reply</mat-icon>
            Salir
          </button>
  
        </ion-footer>
      </ng-template>
    </mat-tab>
    <!-- **********historial de viajes********** -->
  </mat-tab-group>
   
</ion-content>

