ion-toolbar {
    --background: rgb(0, 22, 75);
    --color: white;
}
ion-content {
    --background: white;
    --color: rgb(0, 22, 75);
}
ion-row span {
    font-style: italic;
    font-size: large;
}
ion-toolbar ion-row {
    display: flex;
    justify-content: space-between;
}
.example-tab-icon {
    margin-right: 2px;
    padding: 0;
}
#title {
    margin-right: 10px;
    padding: 5px;
    color: rgb(255, 183, 28);
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.align {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 30px;
}
//********inicio**********
#map {
    width: 100%;
    height: 220px;
}

.filling {
    min-height: 10vh;
    
}
.font-th {
    font-style: italic;
    text-align: center;
    font-size: small;
    color: rgb(0, 22, 75);    
}
.font-td {
    font-style: italic;
    text-align: center;
    font-size: smaller;
    color: rgb(0, 22, 75);
    padding: 0;
}
#center-check {
    position: relative;
    right: 10px;
}
#input-driver {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-size: 15px;
    color: rgb(0, 22, 75);
    --border-style: hidden;
}
#color-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    background-color:rgb(255, 183, 28);
    border-style: solid;
    border-color: rgb(196, 134, 2);
    height: 30px;
}
//***buttons****
#button-init {
    color: rgb(0, 22, 75);
    background-color: rgb(255, 183, 28);
    font-style: italic;
}
#button-cancel {
    color: white;
    background-color: rgb(252, 53, 53);
    font-style: italic;
}
#button-exit {
    background-color: transparent;
    border-style: solid;
    border-color: rgb(255, 183, 28);
    color: white;
    font-style: italic;
}
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 22, 75);
}
.label-input {
    font-weight: 500;
}
#nodrivers {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: large;
    font-weight: 500px;
    color: rgb(0, 22, 75);
}
#position {
    position: absolute;
    margin-top: 70px;
}
#error-icon {
    color: rgb(0, 22, 75);
    margin-bottom: 30px;
    background-color: rgb(255, 183, 28);
    border-style: groove;
    border-color: rgb(0, 22, 75);
    padding: 5px;
}
//***ajuste tamaño de ícono.
.material-icons.md-48 {
    font-size: 48px; 
}
#button-exit-error {
    background-color: white;
    border-style: solid;
    border-color: rgb(255, 183, 28);
    color: rgb(0, 22, 75);
    font-style: italic;
    width: 200px;
}
#error-icon-historial {
    background-color: white;
    color: rgb(0, 22, 75);
    font-style: italic;
    display: flex;
    justify-content: center;
    width: 200px;
}
//****travel
ion-nav {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    height: 40px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(196, 134, 2);
    font-style: italic;
    font-size: large;
    box-shadow: 7px -7px 5px rgb(47, 46, 46);
    background-color: rgb(0, 22, 75);
    color: rgb(255, 183, 28);
}
.info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 8px;
    height: 200px;
}
li {
    list-style: square;
    font-style: italic;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 22, 75);
}
.button-travel {
    padding: 0;
    width: 170px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 3px;
    border-color: rgb(176, 170, 170);
}
#space-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
//****travel
//********inicio**********
//**********registro**********
ion-label.fuente {
    font-style: italic;
    font-size: large;
    --color: rgb(0, 22, 75)
}
ion-item {
    --background: white;
    --border-color: rgb(0, 22, 75)
}
div button {
    //**centrado**
    display: flex;
    margin: 0 auto;
}
ion-select {
    width: 240px;
    margin-top: 30px;
    --color: rgb(0, 22, 75)
}
ion-input {
    width: 240px;
}
#button1 {
    background-color: white;
    color: rgb(0, 22, 75);
    border-color: rgb(196, 134, 2);
    border-style: ridge;
    font-style: italic;
}
#button2 {
    color: rgb(0, 22, 75);
    background-color: rgb(255, 183, 28);
    border-color: rgb(0, 22, 75);
    border-style: ridge;
    font-style: italic;
    width: 130px;
}
#button3 {
    color: rgb(0, 22, 75);
    background-color: rgb(255, 183, 28);
    font-style: italic;
    width: 150px;
    margin: 0 auto;   
}
mat-divider {
    border-top-color: rgb(255, 183, 28);
    margin-top: 25px;
}
//**********registro**********
//**********historial de viajes**********
table {
    width: 100%;
}
th,td {
    font-style: italic;
    text-align: left;
    border-color: rgb(255, 183, 28);
}
th {
    color: rgb(196, 134, 2);
    text-decoration: underline;
}
td {
    color:rgb(0, 22, 75);
}
tr:nth-child(even) {
    background-color: rgb(242, 239, 239);
}
.total {
    margin-top: 25px;
    height: 50px;
    background-color: rgb(255, 183, 28);
    color: rgb(0, 22, 75);
    border-style: outset;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(196, 134, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: large;
}
//**********historial de viajes**********
//*****animation*****
.animate__animated.animate__lightSpeedInRight {
    --animate-duration: 2s;
}
.animate__animated.animate__heartBeat {
    --animate-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__fadeInUp{
    --animate-duration: 10s;
}
.animate__animated.animate__zoomOutRight {
    --animate-duration: 4s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__shakeX {
    --animate-duration: 4s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__bounceOut{
    --animate-duration: 8s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__lightSpeedOutRight{
    --animate-duration: 3.5s;
    animation-iteration-count: infinite; 
}
//*****animation*****
nav ion-row  {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: end;
}
nav ion-row span {
    margin: 0;
    font-size: medium;
    text-decoration: underline;
}
#button-menu {
    background-color: white;
    color: rgb(0, 22, 75);
    height: 30px;
    border-style: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}