<ion-header>
  <ion-toolbar>
    <ion-row class="animate__animated animate__lightSpeedInRight">
      <ion-col size="8">
        <span>Pasajero: </span>
        <span>interpolacion</span>
      </ion-col> 
      <span class="animate__animated animate__heartBeat" id="title">
        Tellevoapp
      </span>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content >

  <mat-tab-group animationDuration="2000ms"  >
    <mat-tab >
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">home</mat-icon>
        Inicio
      </ng-template>
      <!-- maps -->
      <div id="map"></div>
      <!-- maps -->
      <!-- si existen conductores disponibles en la bd se permitirá al pasajero ingresar la dirección, seleccionar un conductor y comenzar el viaje, en caso contrario de mostrará el template con el alias nodrivers -->
      <ng-container *ngIf="conductores.length > 0 else nodrivers">

        <ion-item  id="input-driver" >
          <ion-label class="label-input">Dirección:</ion-label>
          <ion-input placeholder="ej: calle viva #174" [clearInput]="true" type="text" minlenght="15" maxlength="30" ></ion-input>
          <button mat-raised-button id="color-button" (click)="presentAlert()">
            <mat-icon>check</mat-icon>
          </button>
        </ion-item>
        
        <div class="mat-elevation-z8" >
          <table mat-table [dataSource]="dataDrivers" >
        
            <ng-container matColumnDef="conductor" >
              <th mat-header-cell *matHeaderCellDef class="font-th" > Conductor </th>
              <td mat-cell *matCellDef="let element" class="font-td"> {{element.nombre}} </td>
            </ng-container>
        
            <ng-container matColumnDef="patente">
              <th mat-header-cell *matHeaderCellDef class="font-th"> Patente </th>
              <td mat-cell *matCellDef="let element" class="font-td"> {{element.patente}} </td>
            </ng-container>
            
            <ng-container matColumnDef="capacidad">
              <th mat-header-cell *matHeaderCellDef class="font-th"> Capacidad </th>
              <td mat-cell *matCellDef="let element" class="font-td"> {{element.capacidad}} </td>
            </ng-container>

            <ng-container matColumnDef="tarifa">
              <th mat-header-cell *matHeaderCellDef class="font-th"> Tarifa </th>
              <td mat-cell *matCellDef="let element" class="font-td"> {{element.tarifa}} </td>
            </ng-container>
            
            <!-- Checkbox Column -->
            <ng-container matColumnDef="check" >
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let row" id="center-check">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)"
                              color="primary" >
                </mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedDrivers"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedDrivers;" (click)="selection.toggle(row)"></tr>
            
          </table>
          <mat-paginator #paginatorInit="matPaginator"
                         [pageSizeOptions]="[3]"
                         showFirstLastButtons >
          </mat-paginator >
          
        </div>
        <div class="filling"></div>
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
      
          <button mat-raised-button id="button-exit" (click)="initTravel()">
            <mat-icon> local_taxi</mat-icon>
            Subete!
          </button>
        
          <button mat-raised-button id="button-cancel">
            <mat-icon> close</mat-icon>
            Cancelar
          </button>
        
          <button mat-raised-button id="button-init"  [routerLink]="['/home']">
            <mat-icon>reply</mat-icon>
            Salir
          </button>

        </ion-footer>
      </ng-container>
      <!-- Si no existen conductores en la bd se mostrará el siguiente template -->
      <ng-template #nodrivers >
        <div id="nodrivers">
          <span class="material-icons md-48 animate__animated animate__zoomOutRight" id="error-icon">
            person
          </span>
          <span id="position">No se registran conductores disponibles</span>
        </div>
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
      
          <button mat-raised-button id="button-exit-error"  [routerLink]="['/home']">
            <mat-icon>reply</mat-icon>
            Salir
          </button>

        </ion-footer>
      </ng-template>
      <!-- cuando el viaje esté en curso -->
      <ng-template #travel>
        
        <ion-nav >
          <span class="animate__animated animate__lightSpeedOutRight">Tu viaje está en curso</span>
        </ion-nav>

        <div>
          <ion-row class="info">
            <li>Conductor interpolacion</li>
            <li>Patente interpolacion</li>
            <li>Destino interpolacion</li>
          </ion-row>
        </div>  

          <ion-footer id="footer" class="animate__animated animate__fadeInUp">
      
            <button mat-raised-button class="button-travel"  [routerLink]="['/home']">
              <mat-icon>pan_tool</mat-icon>
              Cerrar
            </button>
            <button mat-raised-button class="button-travel">
              <mat-icon>warning</mat-icon>
              Ingresar reporte
            </button>
  
          </ion-footer>
        
      </ng-template>
      
    </mat-tab>
    <!-- **********historial de viajes********** -->
    <mat-tab >
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">cloud_queue</mat-icon>
        Historial
      </ng-template>

      <ng-container *ngIf="pasajeros.length > 0 else notravels"  >
        
        <div class="mat-elevation-z8" >
          <table mat-table [dataSource]="dataSource" id="table1">
        
            <!-- Position Column -->
            <ng-container matColumnDef="pasajero">
              <th mat-header-cell *matHeaderCellDef> Conductor </th>
              <td mat-cell *matCellDef="let element"> {{element.nombrePasajero}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element" > {{element.direccionPasajero}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="tarifa">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let element" > {{element.tarifaPasajero}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator #paginatorHistory="matPaginator" 
                        [pageSizeOptions]="[5]"
                        showFirstLastButtons
                        >
          </mat-paginator>
        </div>
        <!-- total travels -->
        <div class="total">
          <span class="animate__animated animate__bounceOut">Viajes realizados: {{totalRow()}}</span>
        </div>

        <div class="filling"></div>
        <ion-footer id="footer" class="animate__animated animate__fadeInUp">
          <button mat-raised-button shape="round"  id="button-exit-error" class="center" [routerLink]="['/home']">
            Salir
            <mat-icon > reply </mat-icon>
          </button>
        </ion-footer>
    
    </ng-container>

    <ng-template #notravels >
      <div id="nodrivers">
        <span class="material-icons md-48 animate__animated animate__shakeX" id="error-icon-historial">
          cloud_queue
        </span>
        <span id="position">No tienes viajes realizados</span>
      </div>
      <ion-footer id="footer" class="animate__animated animate__fadeInUp">
    
        <button mat-raised-button id="button-exit-error"  [routerLink]="['/home']">
          <mat-icon>reply</mat-icon>
          Salir
        </button>

      </ion-footer>
    </ng-template>
    
    </mat-tab>
    <!-- **********historial de viajes********** -->
    <!-- **********admin********** -->
    <mat-tab>
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon">person</mat-icon>
        Admin
      </ng-template>
      <ion-row>
        <div class="navbar-admin">
          <span class="animate__animated animate__jello">Bienvenido Administrador</span>
        </div>
      </ion-row>

      <div id="content-admin">
        <button mat-raised-button id="driver" >
          <span class="material-icons md-45" >local_taxi</span>
          Insertar conductor 
        </button>
        <button mat-raised-button id="driver" >
          <span class="material-icons md-45" >delete</span>
          Eliminar conductor
        </button>
        <button mat-raised-button id="passenger" >
          <span class="material-icons md-45" >directions_run</span>
          Insertar pasajero
        </button>
        <button mat-raised-button id="passenger" >
          <span class="material-icons md-45" >person_remove</span>
          Eliminar pasajero
        </button>
        <button mat-raised-button id="delete-data" >
          <span class="material-icons md-45" >pan_tool</span>
          Eliminar registros
        </button>
      </div>

    </mat-tab>
    <!-- **********admin********** -->
  </mat-tab-group>

</ion-content>
