<div id="content">
<ion-header >
  <ion-toolbar id="title">
    <ion-title>Bienvenido!!!</ion-title>
  </ion-toolbar>
</ion-header>

  <div mat-dialog-content id="message">
    ¿Que necesitas?
  </div>

<div mat-dialog-actions>
  <ion-footer>
    <button mat-button [mat-dialog-close]="1" id="button-travel">
      <span class="material-icons">
        airline_seat_recline_normal
      </span>
      Viajar
    </button>
    <button mat-button [mat-dialog-close]="2" id="button-driver">
      <span class="material-icons">
        directions_walk
      </span>
      Transportar
    </button>
  </ion-footer>
  
</div>
</div>