#title{
    text-align: center;
    color: rgb(0, 22, 75);
    --background: linear-gradient(rgb(255, 183, 28), 5%, white);
}
ion-title{
    font-size: x-large;
    font-style: italic;
    font-weight: 600;
}
#content{
    background: linear-gradient(white, 90%, rgb(255, 183, 28));
}
#message{
    font-size: large;
    font-style: italic;
    font-weight: 450;
    text-align: center;
    color: rgb(0, 22, 75);
}
ion-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
}
// .material-icons.md-25 {
//     font-size: 25px; 
// }
#button-travel{
    display: flex;
    justify-content: space-evenly;
    top: 10%;
    width: 120px;
    height: 30px;
    font-style: italic;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(196, 134, 2);
    color: white;
    background-color: rgb(0, 22, 75);
}
#button-driver{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 30px;
    font-style: italic;
    font-size: 14px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(196, 134, 2);
    color: rgb(0, 22, 75);
    background-color: rgb(255, 183, 28);
}