.toolbar {
  margin: 0px;
  padding: 0px;
  --background: white;
}
.logo {
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 100%;
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  image-rendering: optimizeQuality;
  background-color: white;
}
.center{
  display: flex;
  justify-content: center;
}
strong {
  margin-top: 40px;
  color: rgb(255, 183, 28);
  font-style: italic; 
  font-size: xx-large;
  text-decoration: underline;
}
ion-item {
  --border-color: rgb(255, 183, 28)
}
ion-label.fuente {
  font-style: italic;
  font-size: large;
  --color: rgb(255, 183, 28)
}
ion-input.custom {
  --background: rgb(221, 221, 221);
  --color: rgb(0, 22, 75);
}
ion-row {
  margin-top: 10px;
}
//*****centrado de botones*****
div button {
  display: flex;
  margin: 0 auto; 
  margin-top: 30px;
}
//*****centrado de botones*****
#button1 {
  background-color: rgb(255, 183, 28);
  color: rgb(0, 22, 75);
  border-color: rgb(196, 134, 2);
  border-style: ridge;
  font-style: italic;
  font-weight: bolder;
  
}
#button2 {
  background-color: white;
  color: rgb(0, 22, 75);
  border-color: rgb(1, 45, 147);
  border-style: ridge;
  font-style: italic;
  font-weight: bolder;
  
}
span {
  color: white;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
//*****centrado de footer*****
footer ion-row{
  background-color: white;
  color: rgb(0, 22, 75);
  margin-top: 30px;
  padding-bottom: 100%;
  font-style: italic;
  display: flex;
  align-content: center;
  flex-direction: column;
}
//*****centrado de footer*****
ion-row p {
  color:rgb(0, 22, 75);
  text-decoration: underline;
}

.animate__animated.animate__rubberBand {
  --animate-duration: 1.5s;
  // --animate-delay: 20s;
  // --animate-repeat: infinite;
  // animation-fill-mode: forwards;
}
.animate__animated.animate__flash {
  --animate-duration: 1.2s;
}
.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 2s;
}