.toolbar {
  margin: 0px;
  padding: 0px;
  --background: white;
}
.logo {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  image-rendering: optimizeQuality;
  background-color: white;
}
.center{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
strong {
  margin-top: 40px;
  color: rgb(255, 183, 28);
  font-style: italic; 
  font-size: xx-large;
  text-decoration: underline;
}
ion-item {
  --background: rgb(0, 22, 75)
  --border-color: rgb(255, 183, 28)
}
ion-label.fuente {
  font-style: italic;
  font-size: large;
  --color: rgb(255, 183, 28)
}
ion-input.custom {
  --color: white;
  --background: rgb(0, 22, 75);
}
ion-row {
  margin-top: 10px;
}
//*****centrado de botones*****
div button {
  display: flex;
  margin: 0 auto; 
  margin-top: 30px;
}
//*****centrado de botones*****
#button1 {
  background-color: rgb(255, 183, 28);
  color: rgb(0, 22, 75);
  border-color: rgb(196, 134, 2);
  border-style: ridge;
  font-style: italic;
  font-size: medium; 
  width: 200px;
}
#button2 {
  background-color: white;
  color: rgb(0, 22, 75);
  border-color: rgb(1, 45, 147);
  border-style: ridge;
  font-style: italic;
  font-size: medium; 
  width: 200px;  
}
span {
  color: white;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
//*****footer*****
ion-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(rgb(255, 183, 28), 40%, rgb(0, 22, 75));
  color: white;
  font-style: italic;
}
//*****footer*****
ion-row p {
  padding-left: 5px;
  color:white;
  text-decoration: underline;
}
//*****animation*****
.animate__animated.animate__rubberBand {
  --animate-duration: 1.5s;
}
.animate__animated.animate__flash {
  --animate-duration: 1.2s;
}
.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 3.2s;
}
//*****animation*****