/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* leaflet */
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
//**********alerts passengers*********
ion-alert.alertCustomCss {
    //***opacidad al fondo de la pantalla
    --backdrop-opacity: 0.80;
    //color contenedor.
    .alert-wrapper{
        background: linear-gradient(white, 85%, rgb(0, 22, 75));
    }

    .alert-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        background: rgb(0, 22, 75);
        
        h2{
            font-size: x-large;
            font-weight: 700;
        }
    }

    h2.alert-sub-title{
        width: 100%;
        margin: 0;
        font-size: medium;
        text-align: center;
        border-bottom: 1px solid rgb(0, 22, 75);
        background: white;
        color:rgb(0, 22, 75);
    }

    .alert-message{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding: 20px;
        color:rgb(0, 22, 75);
        
        span{
            display: flex;
            align-items: center;
            text-align: justify;
            font-size: larger;
            padding-top: 30px;
        }
        
    }

    .alert-button-group{
        display: flex;
        justify-content: space-around;
        width: 100%;

        span{
            display: flex;
            justify-content: center; 
            font-style: oblique;
            font-size: medium;
        }
        .alert-button-confirm{
            width: 90px;
            height: 35px;
            border-radius: 10%;
            color: white;
            background: rgb(0, 22, 75);
        }
        .alert-button-cancel{
            width: 95px;
            height: 35px;
            border-radius: 10%;
            color: white;
            background: red;
        }
    }
    //personalizacion reporte.
    textarea.alert-input{
        font-style: italic;
        font-size: medium;
        border-bottom: 1.5px solid rgb(0, 22, 75) !important;
        color: rgb(0, 22, 75);
    }
    //personalizacion formulario.
    input.alert-input{
        margin-bottom: 10px;
        font-style: italic;
        font-size: medium;
        border-bottom: 1.5px solid rgb(0, 22, 75) !important;
        color: rgb(0, 22, 75);
    }
}
//**********alerts passengers*********
//**********alerts drivers*********
ion-alert.alertDriver{
    //***opacidad al fondo de la pantalla
    --backdrop-opacity: 0.80;

    .alert-wrapper{
        background: linear-gradient(white, 85%, rgb(196, 134, 2));
    }

    .alert-head{
        text-align: center;
        padding: 0;
        background: rgb(0, 22, 75);
    }

    .alert-message{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color:rgb(0, 22, 75);
        
        span{
            display: flex;
            align-items: center;
            text-align: justify;
            font-size: large;
            padding-top: 20px;
        }
    }
    
    .alert-button-group{
        display: flex;
        justify-content: space-around;
        width: 100%;

        span{
            display: flex;
            justify-content: center; 
            font-style: oblique;
            font-size: medium;
        }
        .alert-button-confirm{
            width: 95px;
            height: 35px;
            border-radius: 10%;
            color: white;
            background: rgb(0, 22, 75);
        }
        .alert-button-cancel{
            width: 95px;
            height: 35px;
            border-radius: 10%;
            color: white;
            background: red;
        }
    }
    //personalizacion formulario.
    input.alert-input{
        margin-bottom: 10px;
        font-style: italic;
        font-size: medium;
        border-bottom: 1.5px solid rgb(0, 22, 75) !important;
        color: rgb(0, 22, 75);
    }
    //personalizacion reporte.
    textarea.alert-input{
        font-style: italic;
        font-size: medium;
        border-bottom: 1.5px solid rgb(0, 22, 75) !important;
        color: rgb(0, 22, 75);
    }
}
//**********alerts drivers*********
//**********toast**********
ion-toast.custom-toast {
    --background: rgb(49, 61, 91);
    --color: white;
    font-size: larger;
    font-style: italic;    
}
ion-toast.custom-toast::part(message) {
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
ion-toast.custom-toast::part(icon) {
    position: relative;
    left:15%
}
//**********toast**********
