<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div >
    <ion-row class="center">
      <ion-item  fill="solid" id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
        <ion-label position="floating" class="fuente">Correo Institucional</ion-label>
        <ion-input type="email" minlenght="15" maxlength="25" placeholder="ejemplo@duocuc.cl" class="custom" ></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="center">
      <ion-item fill="solid" counter="true" >
        <ion-label position="floating" class="fuente">Contraseña</ion-label>
        <ion-input type="password" minlenght="5" maxlength="5" placeholder="Contraseña" class="custom" ></ion-input>
      </ion-item>
    </ion-row>
  </div>

  <div>
    <button mat-fab  id="button1" (click)="presentAlert('<span>Datos modificados con éxito.</span>')">
      <!-- Restablecer -->
      <mat-icon> cached </mat-icon>
    </button>
    <span>Restablecer</span>
  </div>

  <mat-divider ></mat-divider>

  <div>
    <button mat-fab id="button2" [routerLink]="['/home']">
      
      <mat-icon> home </mat-icon>
    </button>
    <span>Volver</span>
  </div>

</ion-content>
